<footer class="footer">
  <div class="container-fluid">
    <div class="row g-3 footer__1">
      <div class="col-12 col-lg-5 footer__logo">
        <div class="footer__logo-img">
          <img src="Content/images/Logo.svg" alt="" />
        </div>
        <div class="footer__logo-contact">
          <span class="icon icon-011-mail-icon">hello@skillbridge.com</span>
          <span class="icon icon-012-phone-icon">+91 91813 23 2309</span>
          <span class="icon icon-009-location-pin-icon">Somewhere in the World</span>

        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="footer__item-head">Home</div>
        <div class="footer__item-list">
          <ul>
            <li><a href="">Benefits</a></li>
            <li><a href="">Our Courses</a></li>
            <li><a href="">Our Testimonials</a></li>
            <li><a href="">Our FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="footer__item-head">About Us</div>
        <div class="footer__item-list">
          <ul>
            <li><a href="">Company</a></li>
            <li><a href="">Achievements</a></li>
            <li><a href="">Our Goals</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="footer__item-head">Social Profiles</div>
        <div class="footer__item-list">
          <ul class="horizontal">
            <li><a href=""><span class="icon icon-005-fb-icon"></span></a></li>
            <li><a href=""><span
                  class="icon icon-016-twitter-icon"
                ></span></a></li>
            <li><a href=""><span
                  class="icon icon-008-linkedin-icon"
                ></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row footer__2">
      <div class="col-12">
        <div class="footer__copy">
          <p>© 2023 SkillBridge. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>