<header class="header">
  <div class="header-1-wrapper container-fluid">
    <div class="header-1 btn btn-orange btn-full">

      <a href="">
        <span class="icon icon-003-arrow-right para">
          Free Courses 🌟 Sale Ends Soon, Get It Now
        </span></a>
    </div>
  </div>
  <div class="header-2-wrapper">
    <div class="container-fluid">
      <div class="header-2">

        <div class="header-2__nav-items">
          <div class="header-2__nav-items--logo">
            <img src="Content/images/Logo.svg" alt="" />
          </div>
          <div class="header-2__nav-items--btns">
            <ul>
              <a href="#"><li
                  class="header-2__nav-items--btns-single selected"
                >Home</li></a>
              <a href="#benefits"><li
                  class="header-2__nav-items--btns-single"
                >Benefits</li></a>
              <a href="#courses"><li
                  class="header-2__nav-items--btns-single"
                >Courses</li></a>
              <a href="#testimonials"><li
                  class="header-2__nav-items--btns-single"
                >Testimonials</li></a>
              <a href="#pricing"><li
                  class="header-2__nav-items--btns-single"
                >Pricing</li></a>
            </ul>
          </div>
        </div>
        <div class="header-2__auth-btns">
          <div class="header-2__auth-btns--signup btn btn-header"><a
              href=""
            >Sign Up</a></div>
          <div class="header-2__auth-btns--login btn btn-orange btn-header"><a
              href=""
            >Login</a></div>
          {{! <a
            class="header-2__auth-btns--hamburger icon icon-006-hamburger"
            onclick="menuOnClick()"
          ></a> }}
          <nav role="navigation">
            <div id="menuToggle">
              <input type="checkbox" />

              <span></span>
              <span></span>
              <span></span>
              <ul id="menu">
                <a href="#"><li>Home</li></a>
                <a href="#benefits"><li>Benefits</li></a>
                <a href="#courses"><li>Courses</li></a>
                <a href="#testimonials"><li>Testimonials</li></a>
                <a href="#pricing"><li>Pricing</li></a>

              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>