<section class="hero-section">
  <div class="container-fluid hero">
    <div class="hero-1">
      <dir class="hero__quote">
        <div class="hero__quote-badge icon icon-001-abstract-line"></div>
        <span class="hero__quote-icon icon icon-007-hero-heading-power"></span>
        <span class="hero__quote-text headline-6"><span class="hero__quote-text-highlight">Unlock</span>
          Your Creative Potential</span>
      </dir>
      <div class="hero__title">
        <h1>with Online Design and Development Courses.</h1>
        <p class="hero__title-desc">Learn from Industry Experts and Enhance Your
          Skills.</p>
      </div>
      <div class="hero__btns">
        <div class="btn btn-orange"><a href="">Explore Courses</a></div>
        <div class="btn"><a href="">View Pricing</a></div>
      </div>
    </div>

    <div class="hero__slider">
      <div class="hero__slider-item"><img src="Content/images/zapier-Logocompanies.svg" alt=""></div>
      <div class="hero__slider-item"><img src="Content/images/spotify-logo.svg" alt=""></div>
      <div class="hero__slider-item"><img src="Content/images/zoom-logo.svg" alt=""></div>
      <div class="hero__slider-item"><img src="Content/images/amazon-logo.svg" alt=""></div>
      <div class="hero__slider-item"><img src="Content/images/adobe-logo.svg" alt=""></div>
      <div class="hero__slider-item"><img src="Content/images/notion-logo.svg" alt=""></div>
      <div class="hero__slider-item"><img src="Content/images/netflix-logo.svg" alt=""></div>
    </div>

  </div>
  </div>
</section>