<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ this.meta.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ this.title }}</title>
    <link rel="stylesheet" href="../../assets/css/style.min.css">
    <link href="images/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
    {{{ yield }}}
    <script src="../../assets/scripts/vendor.min.js"></script>
    <script src="../../assets/scripts/main.min.js"></script>
  </body>
</html>
