* {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  background-color: transparent;
}

html {
  font-family: "Be Vietnam Pro", sans-serif;
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(#000, 0); // 6
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background-color: $color-white97;
}
