$color-black: #000;
$color-white: #fff;

// Orange Shades
$color-orange50: #ff9500;
$color-orange70: #ffbf66;
$color-orange75: #ffca80;
$color-orange80: #ffd499;
$color-orange90: #ffeacc;
$color-orange95: #fff4e5;
$color-orange97: #fff9f0;
$color-orange99: #fffdfa;

// White Shades
$color-white90: #e4e4e7;
$color-white95: #f1f1f3;
$color-white97: #f7f7f8;
$color-white99: #fcfcfd;

// Grey Shades
$color-grey10: #191919;
$color-grey15: #262626;
$color-grey20: #333333;
$color-grey30: #4c4c4d;
$color-grey35: #59595a;
$color-grey40: #656567;
$color-grey60: #98989a;
$color-grey70: #b3b3b3;

// Border Radius
$border-radius: 6px;
