.pricing {
  &__heading {
    align-items: center;
    &--btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      background-color: $color-white;
      border-radius: 8px;

      &-single {
        padding: 12px 24px;
        border-radius: 6px;
        background-color: transparent;
        @include desktop {
          padding: 14px 30px;
        }
        a {
          color: $color-grey30;
        }
        &.active {
          background-color: $color-orange50;
          a {
            color: $color-white;
          }
        }
      }
    }
  }

  &__content {
    border-radius: 12px;
    background-color: $color-white;
    padding: 20px;
    @include laptop {
      padding: 50px;
    }
    @include desktop {
      padding: 80px;
    }

    &-item {
      padding: 30px 20px 20px 20px;
      border: 1px solid $color-white95;
      background-color: $color-white99;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: center;
      @include laptop {
        padding: 40px 24px 24px 24px;
        gap: 50px;
      }

      @include desktop {
        padding: 50px 30px 30px 30px;
      }
      &--title {
        width: 100%;
        padding: 8px 22px;
        background-color: $color-orange97;
        border-radius: 4px;
        border: 1px solid $color-orange90;
        @include laptop {
          padding: 10px 22px;
        }
        @include desktop {
          padding: 12px 22px;
        }

        span {
          color: $color-grey15;
          font-family: "Be Vietnam Pro";
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 169%; /* 1.69rem */
          @include laptop {
            font-size: 1.125rem;
          }
          @include desktop {
            font-size: 1.375rem;
          }
        }
      }

      &--price {
        span {
          color: $color-grey15;
          font-family: "Be Vietnam Pro";
          font-size: 3.125rem;
          font-style: normal;
          font-weight: 600;
          line-height: 73%; /* 2.28125rem */
          @include laptop {
            font-size: 3.75rem;
          }
          @include desktop {
            font-size: 5rem;
          }
          small {
            margin-left: -10px;
            color: $color-grey30;
            font-family: "Be Vietnam Pro";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 73%; /* 0.63875rem */
            @include laptop {
              font-size: 1rem;
            }
            @include desktop {
              font-size: 1.25rem;
            }
          }
        }
      }
      &--features {
        background-color: $color-white;
        border-radius: 10px;
        border: 1px solid $color-white95;
        &--text {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          @include laptop {
            padding: 30px 60px;
          }
          @include desktop {
            padding: 40px 70px;
          }
          &-title {
            font-size: 1.125rem;
            @include laptop {
              margin-bottom: 4px;
            }
            @include desktop {
              font-size: 1.25rem;
              margin-bottom: 10px;
            }
          }
          &-single {
            display: flex;
            flex-direction: row;
            gap: 8px;
            padding: 12px;
            text-align: left;
            align-items: baseline;
            border: 1px solid $color-white95;
            border-radius: $border-radius;
            @include desktop {
              gap: 12px;
              padding: 14px;
            }
            &--icon {
              display: inline-flex;
              align-items: center;
              height: 24px;
              width: 24px;
              padding: 4px;
              border-radius: 4px;
              border: 1px solid $color-white95;
              color: $color-grey15;

              @include desktop {
                height: 32px;
                width: 32px;
                padding: 6px;
              }

              &::before {
                font-size: 11px;
                line-height: 10px;
                @include desktop {
                  font-size: 13px;
                  line-height: 13px;
                }
              }
              &.icon-015-tick-right-icon {
                border-color: none;
                background-color: $color-orange95;
                &::before {
                  font-size: 13px;
                  line-height: 13px;
                }
              }
            }
          }
        }
        &--btn {
          padding: 18px 24px;
          border-bottom-left-radius: inherit;
          border-bottom-right-radius: inherit;
          @include desktop {
            padding: 20px 24px;
          }
          a {
            font-weight: 600;
          }
        }
      }
    }
  }
}
